.about_section {
  padding: 202px 0 70px;
  overflow: hidden;
  background-color: var(--about-section-background);
}

.p-1-text,
.p-2-text {
  display: inline-flex;
  font-size: 22px !important;
  line-height: 116%;
  color: #8b8985;
  font-weight: 400;
  text-align: var(--about-text-alignment);
  width: 85%;
}

.p-2-text {
  padding: 0;
  margin: 0;
}

.div_section_cont {
  gap: 53px;
  display: flex;
}

.img-about-content {
  /* width: 1196px;
  height: 587px; */
  border-radius: var(--about-img-border-radius);
  border: var(--about-img-border);
}

.button_arrow {
  width: 35px;
  height: 35px;
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_section {
    padding: 152px 0 50px;
  }
  .p-1-text,
  .p-2-text {
    font-size: 18px !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about_section {
    padding: 117px 0 32px !important;
  }

  .p-1-text,
  .p-2-text {
    font-size: 16px !important;
    width: 290px !important;
    text-align: left;
  }

  .p-2-text {
    margin-top: 10px !important;
  }

  .p-1-text,
  .p-2-text {
    margin: auto;
    display: flex;
  }

  .img-about-content {
    margin: auto;
    display: flex;
  }

  .div_section_cont {
    gap: 16px;
    display: grid;
  }

  .row-div-section .div_section_cont {
    flex-direction: column-reverse;
    display: flex;
  }

  .button_arrow {
    transform: rotate(315deg);
  }
}
