.service_div_button {
  margin-top: 24px !important;
}

.service_button {
  /* background-color: #a9873f; */
  background-color: #650000;
  font-size: 18px;
}

.btn-base {
  color: #ffffff;
  border: none;
  -webkit-text-stroke: 1px #ffffff1a;
  filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.651));
  text-shadow: -1.3px -1.3px 0 #7878786e, 1.3px -1.3px 0 #7878786e,
    -1.3px 1.3px 0 #7878786e, 1.3px 1.3px 0 #7878786e;
  border-radius: 6px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  padding: 14px 28px;
  width: 220px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  justify-content: center;
  align-items: center;
}

.service_button.lang-en {
  white-space: nowrap;
}

.btn-base:hover {
  transform: scale(1.05);
  background: #880000;
}

.btn-base:active {
  transform: scale(0.98);
}

.modal_button {
  /* background-color: #a9873f; */
  background-color: #650000;
  font-size: 18px;
  display: flex;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .service_div_button {
    margin-top: 20px !important;
  }

  .service_button {
    font-size: 16px;
  }

  .btn-base {
    padding: 10px 20px;
    width: 180px;
  }

  .modal_button {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .service_div_button {
    margin-top: 18px !important;
  }

  .service_button {
    font-size: 14px;
    display: flex;
    margin: auto;
  }

  .btn-base {
    padding: 8px 12px;
    width: 150px;
  }

  .modal_button {
    font-size: 14px;
  }
}
