.section_community_patreon {
  padding: 202px 0 70px;
  overflow: hidden;
}

.div_patreon_response_community {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.community_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.img_patreon_community {
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.div_response_title_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.h1_title_patreon {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600 !important;
  color: #656565 !important;
}

.p_text_patreon {
  padding: 0;
  margin: 0;
  padding: 20px 0 24px;
  font-size: 20px;
  line-height: 1.6;
  color: #8b8985 !important;
  font-weight: 400 !important;
  width: 90%;
}

/* --- Media Queries para Mobile --- */
@media (max-width: 991px) {
  .section_community_patreon {
    padding: 153px 0 50px;
  }

  .div_patreon_response_community {
    flex-direction: row-reverse;
  }

  .h1_title_patreon {
    font-size: 25px !important;
  }

  .p_text_patreon {
    font-size: 18px !important;
    padding: 16px 0 20px;
  }
}

@media (max-width: 767px) {
  .section_community_patreon {
    padding: 119px 0 32px;
  }

  .div_patreon_response_community {
    flex-direction: column;
  }

  .community_image_wrapper {
    margin: auto !important;
    justify-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    
  }

  .div_response_title_text {
    width: 80%;
    margin: auto !important;
    justify-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center;
  }

  .h1_title_patreon {
    font-size: 20px !important;
    margin-top: 16px;
  }

  .p_text_patreon {
    font-size: 16px !important;
    width: 290px !important;
    text-align: left;
    padding: 12px 0 18px;
  }
}
