.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 99999;
  width: 100%;
  visibility: visible;
}

.div_container_header {
  padding: 40px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 0;
  margin: 0;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.header-nav-link {
  font-size: 16px;
  color: black !important;
  font-weight: 300 !important;
}

.header-actions {
  display: flex;
}

.header-nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  /* background: #ac882c; */
  background: #650000;
  transition: width 0.3s;
}

.header-nav-item a:hover::after {
  width: 100%;
}

.language-switcher-flag {
  width: 24px;
  margin: 6px 0 !important;
}

.language-switcher-toggle {
  background: #c2c2c221 !important;
  width: 140px !important;
  padding: 6px 0 !important;
  text-align: center !important;
  display: flex !important;
  color: #000000 !important;
  font-weight: 400;
  border: 1px solid rgba(38, 0, 255, 0.103) !important;
  /* border: none !important; */
}

.language-switcher-toggle:hover {
  background-color: #650000 !important;
  color: white !important;
}

.language-switcher .language-switcher-text:hover {
  font-size: 16px !important;
  grid-area: auto;
}

.language-switcher .language-switcher-text {
  font-size: 16px !important;
}

.language-switcher .dropdown-menu,
.language-switcher-menu {
  min-width: auto !important;
  width: 140px !important;
  white-space: nowrap;
  background-color: rgb(255, 255, 255) !important;
  border: none;
}

.language-switcher .dropdown-toggle {
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s ease;

  text-align: left !important;
  align-items: center !important;
  justify-content: center !important;
}

.language-switcher .dropdown-item:hover,
.language-switcher-menu .item-language-menu:hover {
  background: #faf1e6 !important;
}

.hamburger-button {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-nav {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    top: 90px;
    right: 0;
    /* background: rgba(255, 255, 255, 0.95); */
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .mobile-nav-list {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    margin: 0 !important;
    padding: 20px 50px 20px 20px !important;
    gap: 18px;
  }

  .mobile-nav-link {
    font-size: 15px;
    display: flex !important;
    align-items: center !important;
    color: black !important;
    font-weight: 300 !important;
  }

  .mobile-nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #650000;
    transition: width 0.3s;
  }

  .mobile-nav-item:hover::after {
    width: 100%;
  }

  .hamburger-button {
    padding: 0 !important;
    margin: 0 !important;
    white-space: nowrap !important;
    align-items: center !important;
    display: flex !important;
    border: none !important;
    background: none !important;
  }

  .hamburger-button .material-symbols-outlined {
    font-size: 1.8rem;
    color: #353535;
    vertical-align: middle !important;
  }

  .hamburger-button {
    display: block;
  }

  .language-switcher .language-switcher-text {
    font-size: 15px !important;
  }

  .language-switcher .language-switcher-text:hover {
    font-size: 15px !important;
  }

  .language-switcher-flag {
    width: 22px;
    margin-bottom: 2px;
  }

  .language-switcher-toggle {
    width: 130px !important;
    padding: 4px 0 !important;
    margin-right: 10px !important;
  }

  .language-switcher .dropdown-menu,
  .language-switcher-menu {
    width: 130px !important;
  }
}

@media (max-width: 767px) {
  .div_container_header {
    padding: 25px 0;
  }

  .header-nav {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    top: 80px;
    right: 0;
    /* background: rgba(255, 255, 255, 0.95); */
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .mobile-nav-list {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    margin: 0 !important;
    padding: 16px 32px 16px 16px !important;
    gap: 12px;
  }

  .mobile-nav-link {
    font-size: 14px !important;
    display: flex !important;
    align-items: center !important;
    color: black !important;
    font-weight: 300 !important;
  }

  .mobile-nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #650000;
    transition: width 0.3s;
  }

  .mobile-nav-item:hover::after {
    width: 100%;
  }

  .hamburger-button {
    padding: 0 !important;
    margin: 0 !important;
    white-space: nowrap !important;
    align-items: center !important;
    display: flex !important;
    border: none !important;
    background: none !important;
  }

  .hamburger-button .material-symbols-outlined {
    font-size: 1.5rem;
    color: #353535;
    vertical-align: middle !important;
  }

  .language-switcher .language-switcher-text {
    font-size: 14px !important;
  }

  .language-switcher-flag {
    width: 18px;
    margin-bottom: 2px;
  }

  .language-switcher-toggle {
    width: 120px !important;
    padding: 2px 0 !important;
    margin-right: 8px !important;
  }

  .language-switcher .dropdown-menu,
  .language-switcher-menu {
    width: 120px !important;
  }

  .hamburger-button {
    display: block;
  }

  .language-switcher .language-switcher-text:hover {
    font-size: 14px !important;
  }
}
